#article-container {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ' . article-title article-title article-title . .'
    '. article article article . .'
    '. article article article user .'
    '. article article article . .'
    ' . comments votes topic . .';
} 

#article-title {
    grid-area: article-title;
    margin-top: 2rem;
}

#user {
    grid-area: user;
    margin-left: 1.25rem;
}

#topic {
    grid-area: topic;
    padding: 2rem;  
    font-size: 1.25rem;
}
#article {
    grid-area: article;
    text-align: justify;
    border: 1px solid royalblue;
    border-radius: 10%;
    padding: 2rem;
    margin-bottom: 0;
    font-size: 1.25rem;
}

#comments {
    grid-area: comments;
    padding: 2rem; 
    font-size: 1.25rem;
     
}
#votes {
    grid-area: votes;
    padding: 1rem;
    font-size: 1.25rem;
}

#article-title-wording {
    color: royalblue;
    font-size: 1.75rem;
    margin: 0;
}



 @media (max-width: 770px) {
    
    #article-container {
        grid-template-columns: 1fr 3fr 3fr 3fr 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        ' . article-title article-title article-title . .'
        '. user user user . .'
        '. article article article . .'
        '. article article article . .'
        '. article article article . .'
        ' . comments votes topic . .';
    }  

    #article-title-wording {
        font-size: 1.25rem;
    }

    #topic {
        font-size: 1rem;
    }
    #article {
        font-size: 1rem;
    }
    
    #comments {
        font-size: 1rem;
         
    }
    #votes {
        font-size: 1rem;
    }



} 

@media (min-width: 550px) {

    #article-title-wording {
        font-size: 1.75rem;
    }

    #topic {
        font-size: 1.25rem;
    }
    #article {
        font-size: 1.25rem;
    }
    
    #comments {
        font-size: 1.25rem;
         
    }
    #votes {
        font-size: 1.25rem;
    }


}

