#delete-comment {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color:orangered;
    border: 1px solid dimgrey;
    border-radius: 10%;
    padding: 8px 16px;
    margin: 2px 2px;
}

@media (max-width: 770px) { 
    font-size: 1rem;
}

@media (min-width: 550px) {
    font-size: 1.25rem;
}
