ul {
    border: 1px solid #e7e7e7;
    list-style-type: none;
    margin: 0;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    /* padding: 0; 
   overflow: hidden; */
}

 #home, #main, #coding, #football, #cooking, #post {
    float: left;
}

#logo{
    float: left;
    color: royalblue;
}

#login {
    color: orangered;
    float: right;
    }

.link {
    display: block;
    color: dimgrey;
    text-align: center;
    padding: 1rem 2rem;
    text-decoration: none;
}

.link-active{
    display: block;
    color: orangered;
    text-align: center;
    padding: 1rem 2rem;
    text-decoration: none;
}

@media screen and (max-width: 600px){
    #logo, #home, #articles, #coding, #football, #cooking, #post, #login {float: none;}
}

.nav {
    margin-bottom: 100px;
}