.flex-container-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
      flex-direction: row;
      list-style-type: none;
      margin: 0;
      top: 0;
      padding: 0; 
      width: 100%; 
      border: 1px solid #e7e7e7;
      background-color: white;
      text-decoration: none;
      list-style-type: none;
     position: fixed;
     font-size: 1.5rem;
    }

    li {
        text-align: center;
        padding: 1rem 2rem;
    }


#logo{
    color: royalblue;
    text-decoration: none;
}

#login {
    color: royalblue;
    }

.link {
    color: dimgrey;
    text-decoration: none;
}

.link-active{
    color: orangered;
    text-decoration: none;
}
