#article-page-container {
    display: grid;
    grid-template-columns: 4fr 5fr 4fr;
    grid-template-rows: auto;
    grid-template-areas: 
    '. article-main .'
    '. comment-box-main .'
    '. comments-title .'
     '. filter-comments-main .'
    '. comments-list-main .';
}

#article-main {
    grid-area: article-main;
}

#comment-box-main {
    grid-area: comment-box-main;
}

#filter-comments-main {
    grid-area: filter-comments-main;
    font-size: 2rem;
    color: grey;
}

#comments-list-main {
    grid-area: comments-list-main; 
}

/* @media (min-width: 350px) {

    #article-page-container {
    grid-template-columns: 10fr;
    grid-template-rows: auto;
    grid-template-areas: 
    'article-main'
    'comment-box-main'
    'comments-title'
     'filter-comments-main'
    'comments-list-main';
    }
} */

@media (min-width: 750px) {

    #article-page-container {
    grid-template-columns: 10fr;
    grid-template-rows: auto;
    grid-template-areas: 
    'article-main'
    'comment-box-main'
    'comments-title'
     'filter-comments-main'
    'comments-list-main';
    }
}